<%- layout('layouts/main.ejs') %>
<h1 class="mt-4">Login Node Passport</h1>
<p>Aplicación de login hecha con Express, Passport, MongoDB, Bcrypt, y Connect-Flash</p>
<p>El Frontend se hizo con Bootstrap y EJS como template engine</p>