<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login NodeJS</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
          <%if (user) {%>
            
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/logout">Exit</a>
          </li>

          <% }else{ %>

          <li class="nav-item active">
            <a class="nav-link" href="/signin">SignIn <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">SignUp</a>
          </li>
          <% }%>
        </ul>
<!--         <span class="navbar-text">
          Navbar text with an inline element
        </span> -->
      </div>
    </nav>
<div class="container">

    <% if(signupMessage.length>0){ %>
    <div class="alert alert-danger"><%= signupMessage %></div>
    <% } %> 
    
    <% if(signinMessage.length>0){ %>
    <div class="alert alert-danger"><%= signinMessage %></div>
    <% } %> 
    
    <%- body%>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>
